dev_move_test/flows/Set_License_Flow-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>License_Found</name>
        <label>License Found</label>
        <locationX>348</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Sorry_About_The_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>License_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_License</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Contact</targetReference>
            </connector>
            <label>License Exists</label>
        </rules>
        <rules>
            <name>License_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_License</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_License</targetReference>
            </connector>
            <label>License Does Not Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChooseContactSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Add New Licensed User</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_License</name>
        <label>Create License</label>
        <locationX>160</locationX>
        <locationY>381</locationY>
        <assignRecordIdToReference>SelectedLicense</assignRecordIdToReference>
        <connector>
            <targetReference>Choose_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectedAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>License__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_License_User</name>
        <label>Create License User</label>
        <locationX>542</locationX>
        <locationY>378</locationY>
        <assignRecordIdToReference>LicenseUserID</assignRecordIdToReference>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>SelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>SelectedLicense</elementReference>
            </value>
        </inputAssignments>
        <object>License_Users__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_License</name>
        <label>Lookup License</label>
        <locationX>347</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>License_Found</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountId</elementReference>
            </value>
        </filters>
        <object>License__c</object>
        <outputAssignments>
            <assignToReference>SelectedLicense</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Choose_Account</name>
        <label>Choose Account</label>
        <locationX>159</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_License</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <choiceReferences>AccountChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Choose_Contact</name>
        <label>Choose Contact</label>
        <locationX>350</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_License_User</targetReference>
        </connector>
        <fields>
            <name>Choose_Contact_List</name>
            <choiceReferences>ChooseContactSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>No_License</name>
        <label>No License</label>
        <locationX>162</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_License</targetReference>
        </connector>
        <fields>
            <name>NoLicenseFoundText</name>
            <fieldText>No License found so we created the license for you!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Sorry_About_The_Error</name>
        <label>Sorry About The Error</label>
        <locationX>542</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SorryAboutTheError</name>
            <fieldText>We are sorry about the error!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>728</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectedText</name>
            <fieldText>User {!SelectedContactName} was added to the license for {!SelectedAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Choose_Account</startElementReference>
    <variables>
        <description>The id of the License User record created</description>
        <name>LicenseUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenseWasFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The contact to add to the License Users object</description>
        <name>SelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the contact</description>
        <name>SelectedContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLicense</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTempHoldNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
